!!!
html
  head
    title Dashboard - The Tea Project
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(type='text/javascript')
      setTimeout(function() { window.location.reload(); }, 200);

  body
    h1 The Tea Project

    - if (tea) {
      - if (time && time < tea.time) {
        div.status
          div.msg Brewing, wait for
          - var diff = tea.time - time;
          div.time= diff < 60 ? diff + ' sec' : Math.round(diff/60) + ' min'
          div.msg please
      - } else if (time && time >= tea.time) {
        div.status
          div.msg Tea is ready
          div.time= Math.round((time - tea.time)/60) + ' min'
          div.msg ago
      - } else {
        div.status
          div#temperature= tea.temperature + ' C'
      - }
        
      div#name= tea.name
      div#info= tea.type + ' tea from ' + tea.origin
      div#description= tea.description
    - } else {
      div#select Select your tea, please.
    - }